<% unless current_user?(@user) %>
	<div class="follow-form button" id="follow_form-<%= @user.id %>">
	<% if current_user.following?(@user) %>
		<%= render 'users/unfollow' %>
	<% else %>
		<%= render 'users/follow' %>
	<% end %>
	  </div>
	  
<% end %>