<div class="left-container">
	<div class="video-feed-header">Top Daily Videos</div>
		<div id="results">
			<%= render 'shared/feed' %>
			<%= will_paginate @feed_items %>
			<%= pageless(@feed_items.total_pages, day_path, "#results") %>
		</div>
</div>