<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul class="error-list unstyled">
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>