<% current_user.image == nil ? image = "/assets/default-small.png" : image = current_user.image %>
<div class="search-container" id="form-search">
	<a href="javascript:;" class="search-clear" id="search-clear" style="display:none;"></a>
	<% @query = params[:s] %>
	<div class="search-wrapper">
		<img src="<%= image %>" class="floatleft image-round-3" />
		<%= form_tag("#", :method => "get", :remote => true, :class => "floatleft") do %>
		  <%= text_field_tag(:q, "#{@query}", :class => "search-input image-round-3", :placeholder => "Search for a track to post...") %>
		  <span class="button search-button"><div class="music"></div><%= submit_tag("Search", :id => 'search') %></span>
		<% end %>
	</div>
	
	<p id="loading-search" style="display:none;margin: 0 0 18px 21px;font-size: 20px;">Loading...</p>
</div>
<div id="search-results" class="search-results"></div>

<script type="text/javascript">
	$("document").ready( function () {

		$("#search").click( function() {
			var input = $("#q").val();
			if (input != 0) {
				$("#search-results").empty();
				$("#loading-search").fadeIn(100);
				var input = $("#q").val();
				getSongs(input);
			}	
		});

		$("#search-clear").click( function() {
			$("#search-results").empty();
			$("#q").val("");
			$(this).hide();
		});

		$("#q").keyup( function(){
			$("#search-clear").show();
		});

	});
</script>