<div class="social">
	<p>Paint the Town is better social</p>
		<% unless current_user.has_facebook?.present? %>
			<a href="/auth/facebook/"><div class="facebook"></div>Connect to Facebook</a>
		<% end %>
		<% unless current_user.has_twitter?.present? %>
			<a href="/auth/twitter/"><div class="twitter"></div>Connect to Twitter</a>
		<% end %>
		</ul>
</div>