<% @user ||= current_user %>
<div class="stats">
  <table summary="User stats">
    <tr>
      <td>FOLLOWING:
        <a href="<%= following_user_path(@user) %>">
          <span id="following-count"><%= @user.following.count %></span>
        </a>
      </td>

      <td>FOLLOWERS:
        <a href="<%= followers_user_path(@user) %>">
          <span id="followers-count"><%= @user.followers.count %></span>
        </a>
      </td>
    </tr>
  </table>
</div>