<% unless signed_in? %>
    <% content_for :hero do  %>
        <%= render :partial => 'layouts/hero' %>
    <% end %>
<% end %>

<div class="left-container">
  <div class="about">
    <h1>What is Paint Hip Hop?</h1>
    <p>Paint Hip Hop is a hip hop music app. We built the site to showcase and share the best and newest rap tunes without any clutter.</p>
    <p>You know that song throughout the day that <a href="http://paintapp.co/videos/219-zip-a-double-cup" target="_blank">gets you pumped up</a> or <a href="http://paintapp.co/videos/625-all-gold-everything" target="_blank">stuck in your head</a>? This is the place to share it - follow people with similar music tastes and discover rap tunes you didn't know about.</p>
    <h2>How does it work?</h2>
    <p>Find people with music tastes you like and follow them. When they share music, it will show up in your feed. This is also how your playlist is built - it's a changing list of what your friends are listening to and sharing.</p>
    <p>To post a track, search for a song at the top of your feed. Once the song is shared, it will be sent to all the people that follow you and will also show up in their playlists. Swag.</p>
    <p>Popular tracks will earn you rep points. Rep points are achieved by people liking your track.</p>
    <h2>Who runs the site?</h2>
    <p>The site was built by <a href="http://paintapp.co/users/4-rap-game-bill-clinton" target="_blank">Reza Parang</a>. If you have any questions or run into any issues, <a href="https://twitter.com/RezaParang" target="_blank">send a message on Twitter</a> and I'll get to it as soon as possible.</p>
    <p>Thanks for checking the site out - Much love.</p>
  </div>
</div>
<div class="right-container">
    <img src="/assets/logo-big.png" />
</div>