// Grays
// -------------------------
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight2:						#777 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;

// Accent colors
// -------------------------
$blue:                  #049cdb !default;
$blueDark:              #0064cd !default;
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #F3F0D5 !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;

// Scaffolding
// -------------------------
$bodyBackground:        $white !default;
$textColor:             $grayDark !default;

// Links
// -------------------------
$linkColor:             #467590 !default;
$linkColorHover:        $grayDark !default;
//$linkColorHover:      darken($linkColor, 15) !default;

// Typography
// -------------------------
$baseFontSize:          13px !default;
$baseFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$baseLineHeight:        18px !default;
$altFontFamily:          'Oswald', "Helvetica Neue", Helvetica, sans-serif !default;

$headingsFontFamily:    "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
$headingsFontWeight:    normal !default;    // instead of browser default, bold
$headingsColor:         inherit !default; // empty to use BS default, @textColor

// Grid
// -------------------------
$containerWidth:		 900px;
$leftcontainerWidth:	 620px;
$rightcontainerWidth:	 250px;