@import 'variables';
@import 'mixins';

.more-from-user-container {
	width: 100%;
	.more-from-user-header {
    font-size: 14px;
    font-weight: bold;
    padding: 0px 0 8px 0px;
    border-bottom: 1px solid #D9D4D4;

		span {
			font-size: 12px;
			font-weight: normal;
      font-style: italic;
      color: #444;
      border: 1px solid rgba(243, 235, 172, 0.1);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      background-color: #F3F0D5;
      padding: 2px 8px 2px 8px;
			margin-left: 10px;
		}
	}
  h3 {

  }

  .more-from-user-item {
    overflow: auto;
    padding: 10px 8px 10px 0px;
    border-bottom: 1px solid #D9D4D4;
  
    .more-from-user-image {
      float: left;
      a img {
        width: 110px;
      }
    }

    .more-from-video-info {
      float: right;
      width: 120px;
      line-height: 15px;
      a {
        display: block;
      }
      .title {
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 3px;
      }
      .artist {
        font-size: 11px;
        margin-bottom: 5px;
      }

      div {
        font-size: 11px;
        color: $grayLight;
        display: inline-block;
        .vote {
          background: url("sprite.png") no-repeat -135px -51px;
          display: inline-block;
          padding-left: 32px;
          height: 12px;
          vertical-align: middle;
          opacity: 0.8;
        }
        .comment {
          background: url("sprite.png") no-repeat -121px -6px;
          display: inline-block;
          padding-left: 16px;
          height: 12px;
          vertical-align: middle;
          opacity: .6;
          margin-left: 4px;
        }

      }
    }
  }
  .artists-count {
    margin-top: 16px;
    display: block;
    font-size: 14px;
    span {
      font-size: 36px;
    }
  }

  .more-from-user-item:hover {
    background-color: #f7f7f7;
  }
}

.social {
  background: $grayLighter;
  padding: 13px;
  p {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    color: $gray;
    margin-bottom: 7px;
  }
  a {
    display: block;
    width: 160px;
    font-size: 13px;
    color: $grayLight;
    margin-bottom: 4px;
    .facebook {
      background: url("sprite.png") no-repeat -187px -80px;
      display: inline-block;
      padding-left: 27px;
      height: 21px;
      vertical-align: middle;
    }
    .twitter {
      background: url("sprite.png") no-repeat -217px -80px;
      display: inline-block;
      padding-left: 28px;
      height: 21px;
      vertical-align: middle;
    }
  }
  a:hover {
    text-decoration: none;
  }
}





