@import 'variables';
@import 'mixins';

.feed-container {
  @include clearfix();
  width: $leftcontainerWidth;
  margin-bottom: 13px;
  padding: 8px 0 8px 0;
  background-color: $white;
  border-bottom: 1px solid #D9D4D4;  
  .image {
	  float: left;
	  width: 48px;
	  img {
	    width: 40px;
	  }
  }
  .feed-inner {
    float: right;
    width: 568px;
	  a {
	    line-height: 18px;
	    font-size: 17px;
	    font-weight: bold;
	    margin-bottom: 0;
	  }
	  .user-container {
	    @include clearfix();
      a.user {
        display: inline-block;
        font-size: 13px;
        line-height: 23px;
      }

      .video-user-points {
        font-size: 10px;
        font-style: italic;
        color: $gray;
        border: 1px solid rgba(243, 235, 172, 0.1);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        background-color: #f3f0d5;
        padding: 1px 4px 1px 4px;
      }
      .time {
        display: block;
        font-size: 10px;
        margin-top: -4px;
        color: $grayLight;
      }
      .clock {
        background: url("sprite.png") no-repeat -144px -3px;
        display: inline-block;
        padding-left: 13px;
        height: 18px;
        vertical-align: middle;
        opacity: .4;
      }
    }
    .media-container {
      @include clearfix();
      background: url('/assets/crosshatch_w.png'), url('/assets/white_dust_10.png'), rgba(0, 0, 0, 0.71);
      margin-top: 4px;
      @include background_transition();
      .cover {
        img {
          width: 206px;
        }
        .play {
          background: url("sprite.png") no-repeat -12px -189px;
          display: inline-block;
          padding-left: 32px;
          height: 45px;
          vertical-align: middle;
          opacity: 0.7;
          position: absolute;
          margin: -75px 0 0 87px;
          @include transition();
        }
      }
      .cover:hover {
        cursor: pointer;
        .play {
          opacity: 1;
        }
      }
      .info {
        width: 333px;
        margin: 8px 0 2px 13px;
        .title {
          text-shadow: 0 1px 1px $grayDarker;
          color: white;
          font-size: 19px;
          font-weight: normal;
          line-height: 22px;
        }
        p {
          text-shadow: none;
          font-size: 13px;
          color: #BEBEBE;
          margin-top: 6px;
          font-style: italic;
        }
        .actions {
          border-top: 1px solid #777;
          margin: 8px 0 5px 0;
          padding-top: 5px;
          cursor: pointer;
          .like {
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
            font-size: 12px;
            color: #DDD;
            @include link_transition();
            .sunglasses {
              background: url("sprite.png") no-repeat -135px -66px;
              display: inline-block;
              padding-left: 34px;
              height: 13px;
              vertical-align: middle;
              @include transition();
              opacity: .7;
            }
          }
        }
        .actions:hover, .actions.voted {
          .like {
            color: $grayLighter;
          }
          .sunglasses {
            opacity: .9;
          }
        }
        .actions.voted {
          cursor: auto;
          border-top: 1px solid rgba(111, 152, 175, 0.63);
          .like {
            text-shadow: $white 0 0 10px;
          }
        }
      }
    }
    .media-container.voted {
      background: url('/assets/crosshatch_w.png'), url('/assets/white_dust_10.png'), #467590;
    }
    .meta {
      font-size: 12px;
      margin-top: 6px;
      margin-bottom: 8px;
      .sunglasses{
        background: url("sprite.png") no-repeat -135px -50px;
        display: inline-block;
        padding-left: 34px;
        height: 13px;
        vertical-align: middle;
        @include transition();
        opacity: .9;
      }
      .voted {
        background: url("sprite.png") no-repeat -99px -51px;
      }
      a{ 
        font-size: 12px;
        font-weight: normal;
        color: $gray;
      }
      .dot {
        margin: 0 2px 0 2px;
        font-weight: bold;
      }
      .comment {
        background: url("sprite.png") no-repeat -121px -6px;
        display: inline-block;
        padding-left: 16px;
        height: 13px;
        vertical-align: middle;
        opacity: .7;
      }
    }
    .faces {
      //margin-top: 9px;
      img {
        width: 28px;
        margin: 0 4px 7px 0;
      }
    }
    #comments-container {
      margin-top: 4px;
      border-top: 1px dotted #EEE;
      padding-top: 8px;
    }

    #comments-container .signin-wrapper{
      font-size: 12px;
      font-weight: normal;
      color: $grayLight2;
      .signin {
        background: url("sprite.png") no-repeat -193px -1px;
        display: inline-block;
        padding-left: 23px;
        height: 17px;
        vertical-align: middle;
        opacity: .4;
      }
    }
	}
}