@import "reset";

@import "variables"; // Modify this for custom colors, font-sizes, etc
@import "mixins";

//@import "scaffolding"; // Grid system and page structure
//@import "grid";
//@import "layouts";

@import "type";
@import "forms";

@import "buttons";

//@import "navs";

body {
  margin: 0;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $textColor;
  background-color: $bodyBackground;
  background-image: url('/assets/furley_bg.png')
}


// LINKS
// -----

a {
  color: $linkColor;
  text-decoration: none;
}
a:hover {
  color: $linkColorHover;
  text-decoration: underline;
}


nav {
	width: 100%;
	text-align: right;
	margin-bottom: 20px;

	#nav-wrapper {
		//background-image: url('/assets/nav-background.png');
		width: 100%;
		height: 40px;
		background-color: #F7F7F7;
		box-shadow: 0 2px 2px #c4c4c4;
		border: 0 none;
		position: fixed;
		top: 0;
		z-index: 10;


		.nav-container{
			width: $containerWidth;
			@include container-fixed();
			//@include testing();

			a img.logo { 
				
				//@include testing(); 
				float: left;
				margin-top: 2px;
			}

			ul.nav {
				display: inline;
				margin-left: 0;
  				margin-bottom: $baseLineHeight;
  				list-style: none;
			}

			ul.nav-right {
				float: right;

				a {
					padding: 12px 10px 9px;
					display: block;
					line-height: 19px;
					text-decoration: none;
					color: #444;
					font-size: 13px;
					text-shadow: 0 1px white;
					font-weight: bold;
				}
				a:hover {
					background-color: $grayLighter;

				}


			}

			ul.nav li {
				float: left;
			}




		}
	}
}

.container {
	@include container-fixed();
	margin-top: 70px;

	width: $containerWidth;
	//@include testing();
	text-shadow: 0 1px 1px white;
}

.left-container {
	//@include testing();
	float: left;
	width: $leftcontainerWidth;
	background-color: $white;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);

}

.right-container {
	//@include testing();
	float: right;
	width: $rightcontainerWidth;
	//padding: 8px 8px 0;
	position: relative;
}

.current-video-container {
	//@include testing();
	width: 100%;
	background-color: $white;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);

	.current-video-header {
		font-size: 14px;
		font-weight: bold;
		padding: 8px 0 8px 12px;
		border-bottom: 1px solid #D9D4D4;
	}
}

.stats-container {
	//@include testing();
	width: 100%;
	margin-top: 20px;
	background-color: $white;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);

	.stats-header {
		font-size: 14px;
		font-weight: bold;
		padding: 8px 0 8px 12px;
		border-bottom: 1px solid #D9D4D4;
	}

	.list-stats{

		padding: 12px 0 10px 12px;

		li {
			padding: 0 0 6px 22px;
			font-size: 14px;
		}

		.list-points	{
			background-image: url("star.png");
			background-repeat: no-repeat;
		}

		.list-followers {
			background-image: url("followers.png");
			background-repeat: no-repeat;
		}

		.list-following {
			background-image: url("following.png");
			background-repeat: no-repeat;
		}
	}

}


.video-feed-header{
	background-color: $white;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 0 8px 12px;
	border-bottom: 1px solid #D9D4D4;
}

.video-container:hover {
	background-color: #f7f7f7;
}
.video-container {
	//@include testing();
	@include clearfix();
	width: 660px;
	padding: 11px 0 11px 0;
	background-color: $white;
	border-bottom: 1px solid #D9D4D4;

	.vote-container {
		//@include testing();
		float: left;
		width: 75px;
		margin-top: 13px;
		//@include testing();

		text-align: right;

		p.vote-points {
			color: $grayDarker;
			font-size: 52px;
			margin-bottom: 17px;
		}

		span.vote-points-label {
			font-size: 20px;
		}
	}

	.video-container-inner {
		//@include testing();
		float: right;
		width: 570px;

		img {
			float: left;
			//border: 1px solid $grayLighter;
			//padding: 3px;
		}

		.video-info-container {
			float: right;
			width: 424px;
			padding-right: 10px;
			//@include testing();
		

			a {
				color: $grayDarker;
				line-height: 18px;
				font-size: 17px;
				font-weight: bold;
				margin-bottom: 6px;
			}

			p {
				line-height: 15px;
				font-size: 12px;
				color: $gray;
				margin-top: 6px;
			}
			.video-user-container {
				//@include testing();
				@include clearfix();
				margin-top: 5px;
				a {
					font-weight: bold;
					font-size: 14px;

				}

				span.video-user-points {
					margin-left: 6px;
				}

				input {
					float: left;
				}

				.btn {
					margin-top: 8px;
					width: 76px;
					font-size: 14px;
				}

				a.watch-toggle {
					font-weight: normal;
					font-size: 13px;
					padding: 0 0 2px 13px;
				}

				.video-comments-and-time {
					float: right;
					font-size: 14px;
					color: $grayLight;

					.comments-icon {
						background-image: url("comment.png");
						background-repeat:no-repeat;
						padding: 0 10px 0 21px;

					}
				}
			}
		}
	}

	.youtube-container-toggle {
			width: 100%;
			margin-top: 8px;
			font-size: 10px;
			text-align: center;
			float: right;
			color: #AD9C9C;
			//@include testing();
			background-color: #F7F5F5;
	}

	.youtube-container {
			width: 100%;
			float: right;
			padding: 30px 0 30px 0;
			//@include testing();
			background-color: $grayDarker;
			margin: 20px 0 20px 0;

			iframe {
				margin-left: 47px;
			}
	}
}

//Video Show

.video-main {
	float: left;
	width: 100%;
	background-color: white;
	padding-bottom: 12px;
	box-shadow: 0 1px 2px rgba(34,25,25,0.4);

	.video-header {
		padding: 20px 10px 16px 30px;

		p.name {
			font-size: 23px;
			margin-bottom: 2px;
			line-height: 30px;

			a {
				color: #211922;
			}

		}

		p.created-at {
			color: #8C7E7E;
		}
	}

	.video-player {
		text-align: center;
		border-top: 1px solid #D9D4D4;
		border-bottom: 1px solid #D9D4D4;
	

		.video-player-background {
			background-color: $grayDarker;
			padding: 25px;
			margin: 25px;
		}

		.video-points-and-comments-container {
			text-align: left;
			margin: 0 25px 14px 25px;
			@include clearfix();
			//@include testing();

			.video-votes-container {
				//@include testing();
				float: left;
				width: 250px;

				.video-votes-value {
					float: left;
					color: #222;
					font-size: 52px;

					span {
						font-size: 20px;
					}
				}

				form {
					float: right;
					margin: 0;

					.btn {
						font-size: 14px;
						width: 130px;
					}
				}
			}

			.video-comments-count-container {
				//@include testing();
				float: right;
				background-image: url("comment.png");
				background-repeat: no-repeat;
				padding-left: 20px;
				margin-top: 12px;
				font-weight: bold;
				font-size: 14px;
			}
		}
	}

	.video-description {
		line-height: 1.5em;
		padding: 16px 30px 20px;
		font-size: 12px;
	}

	#comments-container {
		padding: 16px 30px 20px;
		border-top: 1px solid #D9D4D4;

		.comment-item {
			margin-bottom: 12px;

			span {
				float: right;
				font-size: 10px;
				color: $grayLight;
			}
		}
		.comment-input{
				width: 506px;
		}
	}
}

.more-from-user-container {
	//@include testing();
	width: 100%;
	background-color: $white;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);

	.more-from-user-header {
		font-size: 14px;
		font-weight: bold;
		padding: 8px 0 8px 12px;
		border-bottom: 1px solid #D9D4D4;
	}
	.more-from-user-pic-container {
		margin: 3px 1px 3px 1px;
		img {
			padding-bottom: 3px;
		}

	}
}



