@import 'variables';
@import 'mixins';

body {
  margin: 0;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $textColor;
  background-color: $bodyBackground;
  //background-image: url('/assets/furley_bg.png')
}
a {
  color: $linkColor;
  text-decoration: none;
  @include link_transition();
}
a:hover {
  color: $linkColorHover;
  //text-decoration: underline;
}
a:hover div{text-decoration: none;}

input[type="text"], input[type="password"], textarea {
  font-family: $baseFontFamily;
  border: solid 1px #ACACAC;
  outline: none;
}

::-webkit-input-placeholder {
  color: $grayLight;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: $grayLight;
}
:-ms-input-placeholder {
  color: $grayLight;
}

h3 {
  font-size: 12px !important;
  font-family: $headingsFontFamily;
  color: $grayLight;
  font-weight: $headingsFontWeight;
  text-transform: uppercase;
  line-height: 14px;
  margin: 0;
}

.alert {
  padding: 4px 10px 3px 10px;
  margin-bottom: 30px;
  color: #C09855;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FCF8E3;
  border: 1px solid #FEF0C9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: 13px;
  a {
    float: right;
  }
}

.alert-success {
  color: #468847;
  background-color: #DFF0D8;
  border-color: #D6E9C6;
}

.body-black {
  background-color: $black;
  background-image: none;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid 
  #ffffff;
  border-right: 4px solid 
  transparent;
  border-left: 4px solid 
  transparent;
  content: "";
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.fixed {
  position: fixed;
}

.container {
	@include container-fixed();
	margin-top: 30px;
	margin-bottom: 120px;
	width: $containerWidth;
	text-shadow: 0 1px 1px white;
  min-height: 600px;
}

.left-container {
	float: left;
	width: $leftcontainerWidth;
  //@include testing();
}

.inner-container {
  background-color: $white;
  box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}

.right-container {
	//@include testing();
	width: $rightcontainerWidth;
  float: right;
}
.right-container > div {
  margin-bottom: 30px;
}

input[type="submit"] {
  cursor: pointer;
  background: none;
  border: none;
}

.button {
  display: inline-block;
  position: relative;
  background: $gray;
  color: #BFBEBE;
  font-size: 18px;
  line-height: 18px;
  border-radius: 4px;
  border: none;
  //cursor: pointer;
}

.image-round-2 {
  @include image-round(2px);
}

.image-round-3 {
  @include image-round(3px);
}

.image-round-4 {
  @include image-round(4px);
}

.user-video-container {
	@include clearfix();
	width: 100%;
	background-color: $white;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);

	.user-video-header {
		font-size: 14px;
		font-weight: bold;
		padding: 8px 0 8px 12px;
		border-bottom: 1px solid #D9D4D4;

		span {
      font-size: 12px;
      font-weight: normal;
      font-style: italic;
      color: #444;
      border: 1px solid rgba(243, 235, 172, 0.1);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      background-color: #F3F0D5;
      padding: 2px 8px 2px 8px;
      margin-left: 10px;
		}

	}

	p {
		margin: 10px;
	}

	.user-follow {
		margin-left: 10px;
	}
}

.video-container:hover {
	background-color: #f7f7f7;
}

//Hero

.hero-container{
    background: url("/assets/2chainz_cover.jpg") no-repeat center -30px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: $black;
    border-bottom: 2px solid $gray;
  .hero-wrapper{
    @include container-fixed();
    position: relative;
    width: $containerWidth;
    .promo {
      color: $white;
      h1, h2, h6 { 
        font-family: $altFontFamily;
      }
      h1 {
        font-size: 50px;
        line-height: 74px;
        background: rgba(0, 0, 0, 0.79);
        display: inline;
        padding: 0 7px 0 7px;
      }
      h2 {
        font-weight: normal;
        font-size: 22px;
        line-height: 32px;
        background: rgba(0, 0, 0, 0.79);
        display: inline;
        padding: 0 5px 0 5px;
        a:hover {
        color: lighten($linkColor, 10%);
      }
      }
      h6 {
        font-size: 14px;
        display: block;
        margin: 22px 0 7px 6px;
        text-shadow: 1px 0px 2px $black;
      }
      .button {
        display: block;
        color: $white;
        font-size: 16px;
        margin: 20px 7px 7px 0;
        padding: 11px 14px 5px 7px;
        @include button_transition();
      }
      .button.facebook:hover {
        background: #4a6eb9;
      }
      .button:hover {
        background: lighten($gray, 10%);
      }
      .facebook {
        background: #3B5998;
      }
      .promo-icon {
        display: inline-block;
        vertical-align: middle;
        padding-left: 30px;
        height: 28px;
      }
      .facebook-icon {
        background: url("sprite.png") no-repeat -30px -53px;
        
      }
      .email-icon {
        background: url("sprite.png") no-repeat -218px -219px;
        padding-left: 38px;
      }
      .button-wrapper {
        @include clearfix();
        margin-bottom: 30px;
        a {
          float: left;
        }
      }
    }
  }
}
.hero-container.drake {
  background: url("/assets/drake_cover.jpg") no-repeat center -30px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: $black;
}
.hero-container.twochainz {
  background: url("/assets/2chainz_cover.jpg") no-repeat center -30px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: $black;
}
.hero-container.juicyj {
  background: url("/assets/juicyj_cover.jpg") no-repeat center -30px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: $black;
}

.loading {
  padding: 5px 0px 0px 18px;
  background: url("ajax-loader.gif") 0 0;
  background-repeat: no-repeat;
  height: 10px;
}

//About
.about {
  h1,h2 {
    color: $grayDark;
  }
  h1 {
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 14px;
  }
  h2{
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 12px;
    margin-top: 20px;
  }
  p {
    color: $gray;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 24px;
  }
}


