@import 'variables';
@import 'mixins';

body {
  margin: 0;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $textColor;
  background-color: $bodyBackground;
  //background-image: url('/assets/furley_bg.png')
}
a {
  color: $linkColor;
  text-decoration: none;
  @include link_transition();
}
a:hover {
  color: $linkColorHover;
  //text-decoration: underline;
}
a:hover div{text-decoration: none;}

input[type="text"], input[type="password"], textarea {
  font-family: $baseFontFamily;
  border: solid 1px #ACACAC;
  outline: none;
}

::-webkit-input-placeholder {
  color: $grayLight;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: $grayLight;
}
:-ms-input-placeholder {
  color: $grayLight;
}

h3 {
  font-size: 12px !important;
  font-family: $headingsFontFamily;
  color: $grayLight;
  font-weight: $headingsFontWeight;
  text-transform: uppercase;
  line-height: 14px;
  margin: 0;
}

.alert {
  padding: 4px 10px 3px 10px;
  margin-bottom: 30px;
  color: #C09855;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FCF8E3;
  border: 1px solid #FEF0C9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: 13px;
  a {
    float: right;
  }
}

.alert-success {
  color: #468847;
  background-color: #DFF0D8;
  border-color: #D6E9C6;
}

.body-black {
  background-color: $black;
  background-image: none;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid 
  #ffffff;
  border-right: 4px solid 
  transparent;
  border-left: 4px solid 
  transparent;
  content: "";
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.fixed {
  position: fixed;
}

.container {
	@include container-fixed();
	margin-top: 30px;
	margin-bottom: 120px;
	width: $containerWidth;
	text-shadow: 0 1px 1px white;
  min-height: 600px;
}

.left-container {
	float: left;
	width: $leftcontainerWidth;
  //@include testing();
}

.inner-container {
  background-color: $white;
  box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}

.right-container {
	//@include testing();
	width: $rightcontainerWidth;
  float: right;
}
.right-container > div {
  margin-bottom: 30px;
}

input[type="submit"] {
  cursor: pointer;
  background: none;
  border: none;
}

.button {
  display: inline-block;
  position: relative;
  background: $gray;
  color: #BFBEBE;
  font-size: 18px;
  line-height: 18px;
  border-radius: 4px;
  border: none;
  //cursor: pointer;
}

.image-round-2 {
  @include image-round(2px);
}

.image-round-3 {
  @include image-round(3px);
}

.image-round-4 {
  @include image-round(4px);
}

.user-video-container {
	@include clearfix();
	width: 100%;
	background-color: $white;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);

	.user-video-header {
		font-size: 14px;
		font-weight: bold;
		padding: 8px 0 8px 12px;
		border-bottom: 1px solid #D9D4D4;

		span {
      font-size: 12px;
      font-weight: normal;
      font-style: italic;
      color: #444;
      border: 1px solid rgba(243, 235, 172, 0.1);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      background-color: #F3F0D5;
      padding: 2px 8px 2px 8px;
      margin-left: 10px;
		}

	}

	p {
		margin: 10px;
	}

	.user-follow {
		margin-left: 10px;
	}
}

.video-container:hover {
	background-color: #f7f7f7;
}

.follow-header {
  font-size: 14px;
  font-weight: bold;
  padding: 8px 0 8px 12px;
  border-bottom: 1px solid #D9D4D4;
}

//Hero

#hero {
  text-align: center;
  margin: 0 0 30px 0;

  h1 {
    font-weight: normal;
    font-size: 65px;
    line-height: 45px;
  }
  h2 {
    font-weight: normal;
    margin: 5px 0 8px 0;
    font-size: 22px;
  }
}

.loading {
  padding: 5px 0px 0px 18px;
  background: url("ajax-loader.gif") 0 0;
  background-repeat: no-repeat;
  height: 10px;
}