@import 'variables';
@import 'mixins';

body {
  margin: 0;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $textColor;
  background-color: $bodyBackground;
  //background-image: url('/assets/furley_bg.png')
}
a {
  color: $linkColor;
  text-decoration: none;
  @include link_transition();
}
a:hover {
  color: $linkColorHover;
  //text-decoration: underline;
}
a:hover div{text-decoration: none;}

input[type="text"], input[type="password"], textarea {
  font-family: $baseFontFamily;
  border: solid 1px #ACACAC;
  outline: none;
}

::-webkit-input-placeholder {
  color: $grayLight;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: $grayLight;
}
:-ms-input-placeholder {
  color: $grayLight;
}

h3 {
  font-size: 12px !important;
  font-family: $headingsFontFamily;
  color: $grayLight;
  font-weight: $headingsFontWeight;
  text-transform: uppercase;
  line-height: 14px;
  margin: 0;
}

.alert {
  padding: 4px 10px 3px 10px;
  margin-bottom: 30px;
  color: #C09855;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FCF8E3;
  border: 1px solid #FEF0C9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: 13px;
  a {
    float: right;
  }
}

.alert-success {
  color: #468847;
  background-color: #DFF0D8;
  border-color: #D6E9C6;
}

.body-black {
  background-color: $black;
  background-image: none;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid 
  #ffffff;
  border-right: 4px solid 
  transparent;
  border-left: 4px solid 
  transparent;
  content: "";
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.fixed {
  position: fixed;
}

.container {
	@include container-fixed();
	margin-top: 30px;
	margin-bottom: 120px;
	width: $containerWidth;
	text-shadow: 0 1px 1px white;
  min-height: 600px;
}

.left-container {
	float: left;
	width: $leftcontainerWidth;
  //@include testing();
}

.inner-container {
  background-color: $white;
  box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}

.right-container {
	//@include testing();
	width: $rightcontainerWidth;
  float: right;
}
.right-container > div {
  margin-bottom: 30px;
}

input[type="submit"] {
  cursor: pointer;
  background: none;
  border: none;
}

.button {
  display: inline-block;
  position: relative;
  background: $gray;
  color: #BFBEBE;
  font-size: 18px;
  line-height: 18px;
  border-radius: 4px;
  border: none;
  //cursor: pointer;
}

.image-round-2 {
  @include image-round(2px);
}

.image-round-3 {
  @include image-round(3px);
}

.image-round-4 {
  @include image-round(4px);
}

.user-video-container {
	@include clearfix();
	width: 100%;
	background-color: $white;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);

	.user-video-header {
		font-size: 14px;
		font-weight: bold;
		padding: 8px 0 8px 12px;
		border-bottom: 1px solid #D9D4D4;

		span {
      font-size: 12px;
      font-weight: normal;
      font-style: italic;
      color: #444;
      border: 1px solid rgba(243, 235, 172, 0.1);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      background-color: #F3F0D5;
      padding: 2px 8px 2px 8px;
      margin-left: 10px;
		}

	}

	p {
		margin: 10px;
	}

	.user-follow {
		margin-left: 10px;
	}
}

.video-container:hover {
	background-color: #f7f7f7;
}

//Hero

.hero-container{
    background: url("/assets/hero-bg-2.jpg") no-repeat center -30px fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 2px solid $grayLight;
  .hero-wrapper{
    @include container-fixed();
    position: relative;
    width: $containerWidth;
    height: 226px;
    text-align: center;
        -webkit-transition: all .2s ease;
       -moz-transition: all .1s ease;
            transition: all .1s ease;
    h1 {
      text-transform: uppercase;
      font-size: 52px;
      font-weight: normal;
      line-height: 46px;
      color: $grayLighter;
      text-shadow: 0 1px 1px $black;
      padding: 23px 0 0px 0;
      font-family: $headingsFontFamily;
    }
    h2 {
      color: $grayLighter;
      font-weight: normal;
      font-size: 26px;
      text-shadow: 0 1px 1px $black;
      margin: 18px 0 26px 0;
      font-family: $headingsFontFamily;
    }
    .button {
      font-size: 16px;
      color: $white;
      margin-bottom: 7px;
      padding: 11px 0px 5px 0px;
      @include button_transition();
    }
    .button.facebook:hover {
      background: #4a6eb9;
    }
    .facebook {
      background: #3B5998;
      width: 250px;
    }
    .facebook-icon {
      background: url("sprite.png") no-repeat -30px -53px;
      display: inline-block;
      padding-left: 39px;
      height: 28px;
      vertical-align: middle;
      margin-left: -38px;
    }
    .email {
      display: block;
      font-size: 12px;
      color: $grayLight;
      font-style: italic;
      margin-bottom: 30px;
    }
    #learn-more {
      position: absolute;
      text-shadow: 0 1px 1px darken($grayLighter, 20%);
      height: 17px;
      margin-left: 412px;
      bottom: 0;
      background-color: #999999;
      border-radius: 2px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      color: $gray;
      font-size: 10px;
      padding: 0px 7px 0px 7px;
    }
    .meta {
      text-align: left;
      display: none;
      width: 700px;
      margin: 0 auto;
      @include clearfix();
      background: rgba(0, 0, 0, 0.45);
      color: $grayLighter;
      font-size: 14px;
      padding: 30px 0 35px 60px;
      @include image-round(4px);
      div {
        width: 200px;
        float: left;
        margin-right: 30px;
      }
      .icon {
        width: 0;
        display: block;
        margin-bottom: 10px;
      }
      .note {
        background: url("sprite.png") no-repeat -53px -195px;
        padding-left: 39px;
        height: 38px;
        margin-left: 72px;
      }
      .share {
        background: url("sprite.png") no-repeat -94px -194px;
        padding-left: 39px;
        height: 38px;
        margin-left: 72px;
      }
      .access {
        background: url("sprite.png") no-repeat -140px -193px;
        padding-left: 44px;
        height: 38px;
        margin-left: 72px;
      }
    }
  }
  .hero-wrapper.tall{
    height: 430px;
  }
}

.loading {
  padding: 5px 0px 0px 18px;
  background: url("ajax-loader.gif") 0 0;
  background-repeat: no-repeat;
  height: 10px;
}