@import 'variables';
@import 'mixins';

.video-main {

	.video-header {
    @include clearfix();
		.name {
			font-size: 28px;
      margin-bottom: 10px;
      line-height: 30px;
      font-weight: bold;
      color: $grayDarker;
      a {
        font-size: 11px;
        color: $grayLight;
        top: -4px;
        position: relative;
        white-space: nowrap;
      }
		}
    .left {
      float: left;
      width: 300px;
  		div.created-at {
  			color: $grayLight;
        font-size: 12px;

        img {
          width: 22px;
          padding-right: 6px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          padding: 0px;
          margin-right: 4px;
          position: relative;
          top: -1px;
        }
        a {
          font-size: 15px;
        }

        .clock {
          background: url("sprite.png") no-repeat -143px -4px;
          display: inline-block;
          padding-left: 15px;
          height: 18px;
          vertical-align: middle;
          opacity: .4;
          margin-left: 5px;
        }
  		}
    }
    .right {
      float: right;
      font-size: 11px;
      color: $grayLight;
      .powered {
        background: url("sprite.png") no-repeat -71px -55px;
        display: inline-block;
        padding-left: 22px;
        height: 24px;
        vertical-align: middle;
        opacity: .4;
        margin-left: 3px;
      }
    }
	}

	.video-player {
		border-bottom: 1px solid #D9D4D4;
    margin-top: 12px;
    padding-bottom: 14px;
	
    p.video-description {
      margin-top: 12px;
      font-size: 14px;
    }
    .video-social {
      @include clearfix();
      margin-top: 10px;
      iframe,span {
        //width: 88px !important;
      }
      #video-votes {
        margin-right: 10px;
        .button{
          padding: 3px 2px 0px 2px;
          background: $grayLighter;
          @include button_transition();
        }
        .button-hover:hover{
          background: $grayLight * 1.3;
          cursor: pointer;
          .sunglasses {
            opacity: 1;
          }
        }
        .sunglasses {
          background: url("sprite.png") no-repeat -135px -51px;
          display: inline-block;
          padding-left: 39px;
          height: 14px;
          vertical-align: middle;
          margin-left: 12px;
          opacity: .8;
        }
        .voted {
          background: $linkColor;
          .sunglasses {
            background: url("sprite.png") no-repeat -135px -67px;
            opacity: 1;
          }
        }
      }
      .fb-like {
        display: inline;
        float: left;
      }
    }
  }

		.video-points-and-comments-container {
			text-align: left;
			padding: 15px 0px 20px 0px;
      margin-bottom: 15px;
      border-bottom: 1px solid #D9D4D4;
			@include clearfix();
			//@include testing();

			.video-votes-container {	

				form {
					float: right;
					margin: 0;

					.btn {
						font-size: 14px;
						width: 130px;
					}
				}
			}
		}

  #points-container {
    color: #9C9C9C;
    font-weight: bold;

    img {
      margin: 0 4px 8px 0;
      @include image-round(3px);
      width: 39px;
    }
  }

  .edit {
    background: url("sprite.png") no-repeat -156px -4px;
    display: inline-block;
    padding-left: 14px;
    height: 14px;
    vertical-align: middle;
    margin-right: 4px;
    opacity: 0.5;
  }
}

.video-subheader {
  color: #222;
  font-size: 18px;
  margin-bottom: 12px;
}

#comments-container {
  .video-comments-count-container {

  }

  .comment-item {
    margin-bottom: 12px;
    @include clearfix();

    .comment-username {
      float: left;

      a {
        font-weight: bold;
      }

    }
    .comment-image {
      float: left;
      width: 42px;
      img {
        width: 36px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
    }

    .comment-username {
      a {
        font-size: 13px;  
      }
      p {
        font-size: 12px;
      }

    }

    .comment-time {
      float: right;
      text-align: right;

      a.comment-delete {
        color: $grayLight;
        background: url("sprite.png") no-repeat -173px -2px;
        display: none;
        padding-left: 18px;
        height: 16px;
        vertical-align: middle;
        opacity: .4;
        @include transition();
      }
      a.comment-delete:hover {
       opacity: 1; 
      }
    }

  }
  .comment-item:hover{
    a.comment-delete {
      display:inline-block;
    }
  }
}
.comment-form-container {
  @include clearfix();
  img {
    width: 36px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  form {
    float: left;
    margin: 0;
  }


  .comment-input{
    width: 568px;
    height: 18px;
    margin: 6px 0 0 6px;
    font-size: 13px;
    border: solid 1px $grayLighter;
  }
  .button {
    padding: 9px 19px 8px 19px;
    font-size: 12px;
    line-height: 9px;
    @include button_transition();
  }
  .button:hover{
    background: $grayLight;
  }
}