@import 'variables';
@import 'mixins';

nav {
	width: 100%;
	text-align: right;
	margin-bottom: 20px;

	#nav-wrapper {
		width: 100%;
		height: 45px;
    background-color: $black;
		top: 0;
		z-index: 10;
    border-bottom: solid 1px $grayDarker;

		.nav-container{
			width: 900px;
			@include container-fixed();

			img { 
				margin-top: 6px;
        width: 140px;
        opacity: .8;
        @include transition();
			}
      img:hover{
        opacity: 1;
      }

			ul.nav {
				display: inline;
        margin: 0 -12px 18px 0;
  			list-style: none;

        li {
          float: left;
        }
        li.pic a:hover{
          img{
            opacity: 1;
          }
        }

        a {
          display: block;
          line-height: 19px;
          text-decoration: none;
          color: #9C9C9C;
          font-size: 13px;
          padding: 15px 10px 12px 10px;

          img {
            margin: 0;
            margin-right: 4px;
            position: relative;
            top: -1px;
          }
          .about, .post, .edit, .signout, .signup, .signin {
            display: inline;
            opacity: .5;
            @include transition();
            padding-left: 22px;
          }
          .about {
            background: url("sprite.png") no-repeat -238px -3px;
          }

          .post {
            background: url("sprite.png") no-repeat -19px -2px;
          }

          .edit {
            background: url("sprite.png") no-repeat -38px -2px;
          }

          .signout {
            background: url("sprite.png") no-repeat -58px -2px;
          }

          .signup {
            background: url("sprite.png") no-repeat 2px -2px;
          }

          .signin {
            background: url("sprite.png") no-repeat -79px -1px;
          }

          img {
            width: 19px;
            height: 19px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
          }

        }
        a:hover, a.selected {
          color: $white;
          .about,.post,.edit,.signout,.signup,.signin { opacity: 1; }
        }
			}

      .post-info {
        border: 1px solid 
        rgba(0, 0, 0, 0.1);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        background-color: #9c9c9c;
        padding: 2px 8px 2px 8px;
        margin: 11px 7px 0 0;
        font-style: italic;
      }
		}
	}
}
