@import 'variables';
@import 'mixins';

.player {
  text-align: center;
  border-bottom: 2px dashed #D9D4D4;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.new-track {
  input[type="text"] {
  height: 40px;
  width: 573px;
  font-size: 20px;
  padding: 0 5px 0 5px;
  }
  h1 {
    font-size: 29px;
    line-height: 33px;
  }
  ul.form {
    .title {
      background: url("sprite.png") no-repeat -221px -160px;
      display: inline-block;
      padding-left: 28px;
      height: 30px;
      vertical-align: middle;
      opacity: .5;
    }
    .comment {
      background: url("sprite.png") no-repeat -60px -21px;
      display: inline-block;
      padding-left: 28px;
      height: 30px;
      vertical-align: middle;
      opacity: .5;
    }
    .field_with_errors{
      display: inline-block;
    }
  }
  ul.form > li {
    margin-bottom: 10px;
  }
  .share {
    color: $gray;
    font-size: 14px;
    #facebook a, #twitter a {
      font-size: 11px;
      margin-left: 4px;
    }
    .facebook {
      background: url("sprite.png") no-repeat -189px -78px;
      display: inline-block;
      padding-left: 24px;
      height: 23px;
      vertical-align: middle;
    }
    .twitter {
      background: url("sprite.png") no-repeat -218px -78px;
      display: inline-block;
      padding-left: 24px;
      height: 23px;
      vertical-align: middle;
    }
  }
  .share > div {
    margin-bottom: 5px;
  }
  .button {
    font-size: 16px;
    color: $white;
    margin-bottom: 10px;
    padding: 3px 0px 2px 0px;
    @include button_transition();
  }

  
  .post {
    background: url("sprite.png") no-repeat -188px -134px;
    display: inline-block;
    padding-left: 24px;
    height: 25px;
    vertical-align: middle;
    margin-left: 21px;
  }
}
.new-track > a {
  margin: 6px 0 15px 0;
  display: block;
  font-size: 14px;
}

.post-button {
    background: $gray;
    position: relative;
    padding: 0;
    margin: 0;
    @include image-round(3px);
    @include button_transition();

    input {
      background: none;
      color: white;
      font-size: 16px;
      height: 47px;
      width: 70px;
      border: none;
      padding-right: 52px;
    }
  }
  .post-button:hover{
    background: $gray * 1.4;
  }

.new-video-buttons {
  text-align: right;

  input.new-video-back {
    height: 36px;
    width: 60px;
    margin-bottom: 3px;
  }

  input.new-video-submit {
    width: 136px;
    height: 36px;
    margin-left: 6px;
  }

}

