

//RESET

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
//h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 100%;
	text-decoration: none;
}

html,
body {
	height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	// Override the default (display: inline) forbrowsers that do not recognize HTML5 tags.
	// IE8 (and lower) requires a shiv: http://ejohn.org/blog/html5-shiv
	display: block;
}

b,
strong {
	// Makes browsers agree.
	// IE + Opera = font-weight: bold.
	// Gecko + WebKit = font-weight: bolder.
	font-weight: bold;
	text-decoration: inherit;
	font-style: inherit;
}

/*strong, b { text-decoration: inherit; font-weight:bolder; font-style: inherit; }*/
ins { text-decoration: underline; font-weight: inherit; font-style: inherit; }
del, span, em { font-size: inherit; font-weight: inherit; }
del, span  { font-style: inherit; }
del { text-decoration: line-through; }

img {
	font-size: 0;
	vertical-align: middle;
	// For IE: http://css-tricks.com/ie-fix-bicubic-scaling-for-images
	-ms-interpolation-mode: bicubic;
}

li {
	// For IE6 + IE7.
	display: list-item;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td,
caption {
	font-weight: normal;
	vertical-align: top;
	text-align: left;
}

svg {
	// For IE9 beta.
	overflow: hidden;
}

.hide {
	display: none;
}

ul, ol {
  padding: 0;
  margin: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 18px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}


