<footer>
	<div class="footer-container">
		<%= link_to image_tag("skyline.png"), root_path, :class => "skyline" %>
		<div class="footer-wrapper">
			<span class="by">a project by <a href="https://twitter.com/RezaParang" target="_blank">Reza Parang</a></span>
			<ul class="unstyled">
				<li id="facebook"><div class="fb-like" data-href="https://www.facebook.com/paintapp" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div></li>
				<li id="twitter"><a href="https://twitter.com/thepaintapp" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false">Follow @thepaintapp</a></li>
			</ul>
		</div>
	</div>
</footer>