<div class="hero-container">
  <div class="hero-wrapper">
    <h1>The Hip Hop Music Experiment</h1>
    <h2>Discover the best hip hop tracks to share with your friends</h2>
    <a href="/auth/facebook/" class="button facebook"><div class="facebook-icon"></div>Sign in with Facebook</a>
  </div>
</div>