<div class="hero-container">
  <div class="hero-wrapper">
    <h1>The Hip Hop Music Experiment</h1>
    <h2>Discover the best hip hop tracks to share with your friends</h2>
    <a href="/auth/facebook/" class="button facebook"><div class="facebook-icon"></div>Sign up with Facebook</a>
    <a href="<%= signup_path %>" class="email">or with an email address</a>
    <div class="learn">
    	<div>
    		<span class="icon note"></span>
    		Paint the Town is a fresh new take on finding the best hip-hop music without the clutter
    	</div>
    	<div>
            <span class="icon share"></span>
    		Find and share your new hits with friends on Facebook and Twitter
    	</div>
    	<div>
            <span class="icon access"></span>
    		Access your Paint the Town tracks from anywhere on any device
    	</div>
    </div>
    <a href="javascript:;" id="learn-more">Learn more</a>
  </div>
</div>

<script type="text/javascript">
    $('document').ready( function() {
    	$("#learn-more").click( function() {
    		$(".hero-wrapper").toggleClass('tall');
            $(".learn").toggle();
    	});
    });
</script>